<h2 class="sub-header">{{ cat_name }}</h2>
<div id='table-error'></div>
{% if class_attr %}
	<table class="table table-striped">
		<thead>
			<tr>
				{% for text in help_text %}
					<th>{{ text }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for key,value in class_attr.items %}
				<tr>
					{% for attr in value %}
						{% if attr == value|first %}
							{% for k,v in attr.items %}
								<td field_name="{{ v }}" class="id">{{ k }}</td>
							{% endfor %}
						{% else %}
							{% if forloop.counter == date_id %}
								{% for k,v in attr.items %}
									<td field_name="{{ v }}" class="datepicker">{{ k }}</td>
								{% endfor %}
							{% else %}
								{% for k,v in attr.items %}
									<td field_name="{{ v }}" class="clickable">{{ k }}</td>
								{% endfor %}
							{% endif %}
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<strong>There are no tables yet! You can add one!</strong>
	</br>
{% endif %}
<button id="button-users" class="btn btn-mini btn-primary" type="button">Добавить данные</button>
<div id="load"></div>