<form class="form-signin span8" id="ajaxform" method="post" action="{% url 'upload_form' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form.visible_fields %}
        <p>
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
        </p>
    {% endfor %}

    <div id="loading" style="display:none;">
        <span id="load_text">loading...</span>
    </div>
    <div id="form_ajax" style="display:none;">
        <span>Form submit successfully.</span>
    </div>
    <div id="form_ajax_error" style="display:none;">
        <span>Can not submit data due to errors.</span>
    </div>
    <p id="sendwrapper"><input class="btn btn-primary" type="submit" value="Добавить новые данные" id="sendbutton"/></p>
</form>